#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.description {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #dedede;
}

.description h1 {
    text-align: center;
    text-transform: uppercase;
}

.description p {
    padding: 0px 10px 5px 10px;
}